*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background: crimson;
}

.card{
    width: 700px;
    background: #ccc;
    padding: 20px;
    margin: 20px;
    font-family: sans-serif;
    line-height: 28px;
}

/* scroll bar */

::-webkit-scrollbar {
    background-color: transparent;
    width: 10px;
    border: 2px solid black;
}

::-webkit-scrollbar-thumb{
    border-radius: 100px;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);

}

